/* Updated About Me Section */
.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  color: #1c1c1e;
  background-color: transparent; /* Removed background color */
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  width: 100%;
  position: relative;
  z-index: 2;
  flex-wrap: wrap; /* Enables wrapping on smaller screens */
}

.text {
  max-width: 600px;
  padding-right: 50px;
  text-align: left;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.176;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-top: 0;
  padding-top: 3.2rem;
  position: relative;
}

.description {

  line-height: 1.8;
  color: #6e6e73;
  margin-bottom: 30px;
}

.about-me__buttons {
  display: flex;
  gap: 1rem;
  margin-top: 30px;
}

.btn {
  padding: 12px 28px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn-primary {
  background: linear-gradient(135deg, #007aff, #8e44ad);
  color: white;
  box-shadow: 0 8px 20px rgba(0, 122, 255, 0.4);
}

.btn-primary:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 25px rgba(0, 94, 203, 0.5);
}

.btn-secondary {
  background: transparent;
  color: #007aff;
  border: 2px solid #007aff;
  transition: 0.4s ease;
}

.btn-secondary:hover {
  background: #007aff;
  color: white;
  transform: translateY(-2px);
}

/* Image Section */
.image img {
  max-width: 400px;
  border-radius: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.image img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .about-me-content {
    flex-direction: column;
    text-align: center;
  }

  .text {
    max-width: 100%;
    padding-right: 0;
  }

  .image img {
    max-width: 300px;
    margin-top: 20px;
  }

  .about-me__buttons {
    grid-template-columns: 1fr; /* Stack button vertically */
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .about-me {
    padding: 50px 20px;
  }

  h1 {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .about-me {
    padding: 30px 10px;
  }

  h1 {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }

  .image img {
    max-width: 200px;
  }
}
